<div id="wrapper">
    <hr>
    <div>
        <ul class="nav nav-pills nav-justified" style="margin-bottom: 1em">
            <li><a href="#" {{ action "mostActive" }}>Most Active by Volume</a></li>
            <li><a href="#" {{ action "gainers" }}>Gainers</a></li>
            <li><a href="#" {{ action "losers" }}>Losers</a></li>
        </ul>

        <table class="table table-striped">
            <tr style="text-align:center">
                <th>Company</th>
                <th>Open Price</th>
                <th>Current Price</th>
                <th>Change Volume - %</th>
                <th>Share Volume</th>
                <th></th>
            </tr>
            {{#each item in sortedCompanies}}
            <tr>
                <td>{{#link-to 'marketByOrder' item.id}}{{item.name}}{{/link-to}}</td>
                <td>{{item.openPrice}}</td>
                <td>{{item.currentPrice}}</td>
                <td>{{item.changeVolume}}&nbsp;<img {{bind-attr src="item.changeUrl"}}/>&nbsp;{{item.changePercent}}</td>
                <td>{{item.changeVolume}}</td>
                <td>{{item.shareVolume}}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button href="#" class="btn btn-primary" {{action 'buy' item.id}}>Buy</button> 
                        <button href="#" class="btn btn-primary" {{action 'sell' item.id}}>Sell</button>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div>
        <div>{{outlet "outlet1"}}</div>
        <div>{{outlet "outlet2"}}</div>
        <div>{{outlet "symbol"}}</div>
    </div>
</div>

