<div id="wrapper">
    <hr>
    <div>
        <nav class="navbar navbar-default">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#" data-toggle="tab" {{ action "mostActive" }}>Most Active by Volume</a></li>
                <li><a href="#" data-toggle="tab" {{ action "gainers" }}>Gainers</a></li>
                <li><a href="#" data-toggle="tab" {{ action "losers" }}>Losers</a></li>
            </ul>
        </nav>
        
        <table class="table table-striped table-bordered table-hover">
            <tr style="text-align:center">
                <th>Company</th>
                <th>Open Price</th>
                <th>Current Price</th>
                <th>Change Volume - %</th>
                <th>Share Volume</th>
                <th> </th>
            </tr>
            {{#each item in sortedCompanies}}
            <tr>
                <td>{{#link-to 'marketByOrder' item.id}}{{item.name}}{{/link-to}}</td>
                <td>{{item.openPrice}}</td>
                <td>{{item.currentPrice}}</td>
                <td>{{item.changeVolume}}&nbsp;<img {{bind-attr src="item.changeUrl"}}/>&nbsp;{{item.changePercent}}</td>
                <td>{{item.shareVolume}}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button href="#" class="btn btn-primary" {{action 'buy' item.id}}>Buy</button> 
                        <button href="#" class="btn btn-primary" {{action 'sell' item.id}}>Sell</button>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>
        
    </div>

    <div id="display" class="row">
        {{outlet "outlet1"}}
        {{outlet "outlet2"}}
        {{outlet "symbol"}}
    </div>
</div>

