<div>
    <table>
        <tr style = "background-color:#2aabd2">
            <td>Company</td>
            <td>Open Price</td>
            <td>Current Price</td>
            <td>Change Volume - %</td>
            <td>Share Volume</td>
            <td></td>
        </tr>
        {{#each item in model}}
        <tr>
            <td>{{#link-to 'marketByOrder' item.id}}{{item.name}}{{/link-to}}</td>
            <!--don't need all these link to's-->
            <td>{{#link-to 'stockStateSummary'}}{{item.openPrice}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.currentPrice}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.changeVolume}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.shareVolume}}{{/link-to}}</td>
            <td><button href="#" {{action 'buy' item.id}}>Buy</button> <button href="#" {{action 'sell' item.id}}>Sell</button></td>

        </tr>
        {{/each}}
    </table>
</div>

<div>


    <div>{{outlet "test1"}}</div>
    <div>{{outlet "test2"}}</div>
    <div>{{outlet "symbol"}}</div>
    {{outlet}}
</div>

