<div>
    <a href="#">Most Active by Volume</a>
    <a href="#">Gainers</a>
    <a href="#">Losers</a>

    <table>
        <tr style = "text-align:center">
            <th>Company</th>
            <th>Open Price</th>
            <th>Current Price</th>
            <th>Change Volume - %</th>
            <th>Share Volume</th>
            <th></th>
        </tr>
        {{#each item in sortedCompanies}}
        <tr>
            <td>{{#link-to 'market' item.id}}{{item.name}}{{/link-to}}</td>
            <td>{{item.openPrice}}</td>
            <td>{{item.currentPrice}}</td>
            <td>{{item.changeVolume}}</td>
            <td>{{item.shareVolume}}</td>
            <td><button href="#" {{action 'buy' item.id}}>Buy</button> <button href="#" {{action 'sell' item.id}}>Sell</button></td>
        </tr>
        {{/each}}
    </table>
</div>

<div>


    <div>{{outlet "outlet1"}}</div>
    <div>{{outlet "outlet2"}}</div>
    <div>{{outlet "symbol"}}</div>


</div>

