<div>
    <table>
        <tr style = "text-align:center">
            <th>Company</th>
            <th>Open Price</th>
            <th>Current Price</th>
            <th>Change Volume - %</th>
            <th>Share Volume</th>
            <th></th>
        </tr>
        {{#each item in model}}
        <tr>
            <td>{{#link-to 'marketByOrder' item.id}}{{item.name}}{{/link-to}}</td>
            <!--don't need all these link to's-->
            <td>{{item.openPrice}}</td>
            <td>{{item.currentPrice}}</td>
            <td>{{item.changeVolume}}</td>
            <td>{{item.shareVolume}}</td>
            <td><button href="#" {{action 'buy' item.id}}>Buy</button> <button href="#" {{action 'sell' item.id}}>Sell</button></td>

        </tr>
        {{/each}}
    </table>
</div>

<div>


    <div>{{outlet "test1"}}</div>
    <div>{{outlet "test2"}}</div>
    <div>{{outlet "symbol"}}</div>
    {{outlet}}
</div>

