<div style = "max-width:100%">
    <table>
        <tr style = "background-color:#2aabd2">
            <td>Company</td>
            <td>Open Price</td>
            <td>Current Price</td>
            <td>Change Volume - %</td>
            <td>Share Volume</td>
            <td></td>
        </tr>
        {{#each item in model}}
        <tr>
            <td>{{#link-to 'stockStateSummary'}}{{item.name}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.openPrice}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.currentPrice}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.changeVolume}}{{/link-to}}</td>
            <td>{{#link-to 'stockStateSummary'}}{{item.shareVolume}}{{/link-to}}</td>
            <td><button href="#" {{action 'buy'}}>Buy</button> <button href="#" {{action 'sell'}}>Sell</button></td>

        </tr>
        {{/each}}
    </table>
</div>

<div>
    {{outlet}}
</div>

<a href="#" class="button radius" {{action 'load'}}>Load</a>
